.RadioInput {
  display: flex;
  cursor: pointer;
  position: relative;

  &.disabled {
    cursor: default;
    
    .toggle.checked {
      .icon {
        opacity: .2;
      }
    }

    .toggle, &:hover .toggle {
      border: 1px solid var(--gray4) !important;  
    }
  }

  .toggle {
    background-color: var(--white);
    border: 1px solid var(--gray4);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    position: relative;
    transition: all .3s ease;

    .icon {
      opacity: 0;
      transition: opacity .3s ease;
    }

    &.checked {
      border: 1px solid var(--black);

      .icon {
        opacity: 1;
      }
    }
  }

  &.lightBg .toggle {
    border-color: var(--label);
  }

  &:hover {
    .toggle,
    .toggle.checked {
      border-color: var(--black);
    }
  }

  .label {
    margin-left: 10px;
  }

  .error {
    position: absolute;
    bottom: -18px;
    left: 0;
  }
}
